$fa-font-path: "../fonts/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~select2/src/scss/core.scss";
@import "select2/layout";
@import "hamburger";

$slick-loader-path: "./slick/";
$slick-font-path: "./slick/";

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Expressa-DemiBold";
  src: url("../fonts/Expressa-DemiBold.ttf") format("truetype");
  font-weight: 300;
}

$orange: #fe7600;

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  $size: 20px;
  width: $size;
  height: $size;
  background-color: $orange;
}

.cursor-dot-outline {
  $size: 40px;
  width: $size;
  height: $size;
  background-color: rgba($orange, 0.2);
}

.dot-falling {
  position: relative;
  left: -9999px;
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background-color: #fe7600;
  color: #fe7600;
  box-shadow: 9999px 0 0 0 #fe7600;
  animation: dotFalling 2s infinite linear;
  animation-delay: 0.2s;
}

.dot-falling::before,
.dot-falling::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-falling::before {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background-color: #fe7600;
  color: #fe7600;
  animation: dotFallingBefore 2s infinite linear;
  animation-delay: 0s;
}

.dot-falling::after {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background-color: #fe7600;
  color: #fe7600;
  animation: dotFallingAfter 2s infinite linear;
  animation-delay: 0.4s;
}

@keyframes dotFalling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(254, 118, 0, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 #fe7600;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba(254, 118, 0, 0);
  }
}

@keyframes dotFallingBefore {
  0% {
    box-shadow: 9974px -15px 0 0 rgba(254, 118, 0, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9974px 0 0 0 #fe7600;
  }
  100% {
    box-shadow: 9974px 15px 0 0 rgba(254, 118, 0, 0);
  }
}

@keyframes dotFallingAfter {
  0% {
    box-shadow: 10024px -15px 0 0 rgba(254, 118, 0, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10024px 0 0 0 #fe7600;
  }
  100% {
    box-shadow: 10024px 15px 0 0 rgba(254, 118, 0, 0);
  }
}
