.hamburger {
  @apply flex flex-col space-y-2;
  span {
    @apply inline-block transition-all duration-300 ease-in-out w-8 h-1 bg-black;
  }
  &.is-active {
    span:nth-child(1) {
      @apply rotate-45 translate-y-3;
    }
    span:nth-child(2) {
      @apply opacity-0;
    }
    span:nth-child(3) {
      @apply -rotate-45 -translate-y-3;
    }
  }
}

.close-modal {
  @apply flex flex-col space-y-2;
  span {
    @apply inline-block transition-all duration-300 ease-in-out w-8 h-1 bg-black;
  }
  &.closed {
    span:nth-child(1) {
      @apply rotate-90 translate-y-3;
    }
    span:nth-child(2) {
      @apply opacity-0;
    }
    span:nth-child(3) {
      @apply -rotate-90 -translate-y-3;
    }
  }
  span:nth-child(1) {
    @apply rotate-45 translate-y-3;
  }
  span:nth-child(2) {
    @apply opacity-0;
  }
  span:nth-child(3) {
    @apply -rotate-45 -translate-y-3;
  }
}
