.main-menu {
  li.current-menu-item {
    a {
      @apply text-orange;
    }
  }
}
.responsive-container {
  @apply px-[1rem] md:px-[2rem] 2xl:px-0;
}

.ctapostarrow {
  animation: MoveUpDown 2s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.single-article {
  max-width: 100% !important;
  p {
    @apply leading-[1.5];
  }
}
.post-next:before {
  height: 2px;
  display: block;
  width: 60px;
  background: #fe7600;
  content: "";
  @apply mb-[16px];
  @apply ml-auto;
}
.post-prev:before {
  height: 2px;
  display: block;
  width: 60px;
  background: #fe7600;
  content: "";
  @apply mb-[16px];
}

.contact-form {
  .wpcf7-form {
    @apply flex flex-wrap;

    p:nth-child(even) {
      @apply md:pr-[10px];
    }
    p:nth-child(odd) {
      @apply md:pl-[10px];
    }
    p {
      @apply focus:text-orange w-full md:w-1/2 mb-[10px] md:mb-[12px];

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="submit"],
      textarea {
        @apply w-full mb-[10px] text-[#4d4d4d] pl-[20px] py-[15px] border-solid border-[2px]  border-[#e2e2e2] focus:border-orange focus:ring-1 focus:ring-orange;
      }
      input[type="submit"] {
        color: white !important;
        border-color: rgba(254, 118, 0, var(--tw-text-opacity)) !important;
      }
      input[type="submit"]:hover {
        color: rgba(254, 118, 0, var(--tw-text-opacity)) !important;
      }
      input[type="submit"]:focus {
        color: white !important;
      }

      span.wpcf7-not-valid-tip {
        @apply pl-[20px];
      }
      input[type="checkbox"] {
        @apply rounded-full shadow-cta_social text-orange focus:ring-0 w-[20px] h-[20px] mr-[10px];
      }
    }

    p:nth-of-type(6) {
      @apply w-full p-0;
      span.wpcf7-list-item {
        @apply m-0;
        label {
          @apply flex items-center;
          .wpcf7-list-item-label {
            @apply text-[#4d4d4d] text-[14px] leading-[1.2];
          }
        }
      }
      span.servizi {
        .wpcf7-list-item {
          @apply w-1/2 md:w-1/3 mb-[6px] pr-[4px];
        }
      }
    }

    p:nth-of-type(5) {
      @apply w-full p-0;
      textarea {
        @apply w-full;
        resize: none;
      }
    }
    p:last-of-type {
      width: auto !important;
      padding: 0;
      margin: 0;
    }
    .wpcf7-response-output {
      @apply mt-[10px] m-0 p-0 border-0 border-b-[2px] font-medium ml-auto pb-[5px];
      height: fit-content;
    }
    span.wpcf7-not-valid-tip {
      margin-bottom: 6px;
    }
  }
}
div.pagination {
  .page-numbers {
    @apply py-[0.875rem] px-[1.5rem] text-[18px] border-solid border-r-[1px] border-gray-300 transition-all duration-300;
  }
  a.page-numbers {
    @apply last-of-type:border-none;
  }
  .current,
  .page-numbers:hover {
    @apply bg-orange text-white border-orange;
    img {
      @apply transition-all duration-300 filter invert;
    }
  }
  a.prev,
  a.next {
    @apply flex items-center h-full;
  }
}

.portfolio-task {
  ul {
    list-style: disc !important;
    @apply ml-[10px] pl-[10px];
  }
}
  img.custom-logo {
    width: 220px;
  }


.cta_contattaci {
  @apply p-[35px] lg:py-[51px] lg:px-[71px];
}

//slide right animation
.slide_right_orange:hover {
  box-shadow: inset 400px 0 0 0 #fff, 6px 5px 8px #fe760099;
}

.slide_right_green:hover {
  box-shadow: inset 400px 0 0 0 #fff, 6px 5px 8px #209c4e99;
}

.button_slide {
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

//Bottoni arrotondati
.shadow_green {
  box-shadow: inset 0 0 0 0 #fff, 6px 5px 8px #209c4e99;
}

.shadow_orange {
  box-shadow: inset 0 0 0 0 #fff, 6px 5px 8px #fe760099;
}

.rounded-button {
  @apply uppercase font-medium  text-white border-solid border-2 rounded-[50px] py-[.9rem] px-[2.1rem] inline-block text-[16px];
}

//Bottoni rettangolari
.rectangle-button {
  @apply bg-orange hover:text-orange text-white uppercase font-medium inline-block text-[16px] py-[0.875rem] px-[1.5rem];
  box-shadow: inset 0 0 0 0 #fff;
}

.rectangle-button:hover {
  box-shadow: inset 400px 0 0 0 #fff;
}
figcaption {
  @apply text-center;
}
.prose {
  max-width:100%;
}