html {
  scroll-behavior: smooth;
  cursor: none;
  overflow-x: hidden;
}
body {
  @apply font-poppins text-black;
  word-break: break-word;
  &,
  * {
    cursor: none;
  }
}
::selection {
  color: white;
  background: #fe7700b9;
}
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #fe7600;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply leading-none text-black;
}
@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
