$selection-bg-color: black;
$border-radius: 0;
$text-color: black;
$border-width: 0;
$padding-y: 0.75rem;
$padding-x: 0.75rem;
$focus-border-color: black;
$results-choice-bg-hover-color: black;
$results-choice-fg-hover-color: white;
$placeholder-color: black;